name = "busmapa"
main = "src/index.ts"
compatibility_date = "2024-12-15"
workers_dev = true

[build]
command = "npm run build"
cwd = "."

[env.production]
name = "busmapa-prod"
routes = [
  { pattern = "busmapa. workers.dev/*", zone_name = "busmapa. workers.dev" }
]

[env.production.vars]
ENVIRONMENT = "production"

[vars]
ENVIRONMENT = "development"
